<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
  <!-- BEGIN: Head-->
  <%- include('../../partials/admin/head') %>

  <!-- END: Head-->

  <!-- BEGIN: Body-->

  <body
    class="vertical-layout vertical-menu-modern dark-layout 1-column navbar-floating footer-static bg-full-screen-image blank-page blank-page"
    data-open="click"
    data-menu="vertical-menu-modern"
    data-col="1-column"
    data-layout="dark-layout"
  >
    <!-- BEGIN: Content-->
    <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper">
        <div class="content-header row"></div>
        <div class="content-body">
          <!-- error 404 -->
          <section class="row flexbox-container">
            <div class="col-xl-7 col-md-8 col-12 d-flex justify-content-center">
              <div
                class="card auth-card bg-transparent shadow-none rounded-0 mb-0 w-100"
              >
                <div class="card-content">
                  <div class="card-body text-center">
                    <img
                      src="<%- img %>"
                      class="img-fluid align-self-center"
                      alt="branding logo"
                    />
                    <h1 class="font-large-2 my-1">
                      <%- status %> - <%- title %>
                    </h1>
                    <p class="p-2"><%= message %></p>
                    <a
                      class="btn btn-primary btn-lg mt-2"
                      href="#"
                      onclick="history.back();"
                      >Go Back</a
                    >
                    <a class="btn btn-primary btn-lg mt-2" href="dashboard"
                      >Dashboard</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- error 404 end -->
        </div>
      </div>
    </div>
    <!-- END: Content-->

    <%- include('../../partials/admin/scripts') %>
  </body>
  <!-- END: Body-->
</html>
